* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: $base-background-color;
  color: $base-font-color;
  padding: 0;
  margin: 0;
}

li,
p {
  line-height: 1.7;
}

img {
  max-width: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
}

p {
  font-size: $base-font-size;
  margin: 0 0 1.25rem;

  + h1,
  + h2,
  + h3,
  + h4,
  + h5 {
    margin-top: 3rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  font-family: $heading-font-family;
}

h4 {
  font-size: 1.25rem;
}

h5,
h6 {
  font-size: 1.2rem;
}

code {
  background: $code-background-color;
  border-radius: $base-border-radius;
  border: solid 1px darken($base-background-color, 8%);
  color: lighten($base-font-color, 25%);
  display: inline-block;
  padding: 0 0.25rem;
}
