form {
  input[type="text"] {
    background-color: rgba(255,255,255,.7);
    border-radius: 2px;
    border: solid 1px #ccc;
    font-family: $primary-button-font;
    font-size: $base-font-size * .85;
    margin-right: -10px;
    min-width: 420px;
    padding: 0.5rem 1rem;

    &:focus {
      background: white;
      box-shadow: none;
      outline: none;
    }
  }
}
