<article class="row">
  <span class="row__detail">
    <i class="fa fa-star with-text-on-right"></i>
    <%= feature(url).stargazers_count %>
  </span>
  <h4>
    <%= feature(url).name %>
  </h4>
  <p>
    <%= feature(url).description %>
  <p>
  <a class="button" href="<%= url %>/master">Read</a>
</article>
