<article class="card">
  <h4 class="card__heading">
    <%= feature(url).name %>
  </h4>
  <small>
    url
  </small>
    <a href="<%= url %>/master">Read</a>
  <p>
    <%= feature(url).description %>
  <p>
    <span class="row__detail__meta">
      <i class="fa fa-star with-text-on-right"></i>
      <%= feature(url).stargazers_count %>
    </span>
  </div>
</article>
