@import url(http://fonts.googleapis.com/css?family=Arimo:400,700|Merriweather|Patua+One)

body
  background: #fefefe

nav 
  box-shadow: 0 2px 10px rgba(0,0,0,0.125)
  background-color: white
  border-bottom: solid 1px #eee
  font-size: 1.1rem
  left: 0
  padding: 1rem 0
  position: fixed
  right: 0
  top: 0

  & > div
    margin: 0 auto
    max-width: 680px

article
  font-family: "Merriweather", serif
  font-size: 1.1rem
  margin: 6rem auto
  max-width: 680px

li,
p
  line-height: 1.55

img
  max-width: 100%

a
  color: #2D86C9
  text-decoration: none

h1,
h2,
h3,
h4,
h5,
h6 
  margin-top: 2rem
  font-family: 'Patua One', cursive

h4
  font-size: 1.25rem

h5,
h6
  font-size: 1.1rem
