.card {
  background: white;
  border-radius: 3px;
  box-shadow: 0 0.25rem 0.75rem rgba($black, 0.125);
  font-family: "Lato";
  font-weight: 300;
  margin-bottom: 4rem;
  min-height: 360px;
  padding: 1.5rem 1.5rem 2.5rem;
  position: relative;

  @include media(min-width $small-screen max-width $x-large-screen) {
    @include span-columns(6);
    @include omega(2n);
  }

  @include media($x-large-screen) {
    @include span-columns(4);
    @include omega(3n);
  }

  h3 {
    font-family: "Lato";
    font-weight: 300;
    font-size: 1.5rem;
    color: $dark-gray;
    margin-bottom: 1.25rem;
  }

  small {
    color: lighten($dark-gray, 50%);
    display: block;
    margin-bottom: 0.25rem;
  }

  p {
    color: lighten($dark-gray, 20%);
    font-size: 1rem;
    margin-bottom: 3rem;
  }

  footer {
    @include position(absolute, null 1.5rem 2.5rem 1.5rem);
    margin-top: 2rem;
    text-align: center;
  }
}
