.content {
  max-width: $small-screen;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.content--grid {
  max-width: $small-screen;
  padding: 5rem 0;

  @include media($small-screen) {
    max-width: $large-screen;
  }

  @include media($x-large-screen) {
    max-width: $x-large-screen;
  }
}

.content--reading {
  font-family: $base-font-family;
  max-width: $small-screen;
  padding: 3rem 0;
}

.content__heading {
  text-align: center;
}

