.layout {
  width: 100%;
}

.layout--feature {
  align-items: center;
  display: flex;
  height: 400px;
  justify-content: center;
  padding-bottom: 1rem;
  text-align: center;
  border-bottom: dashed 1px #ccc;
}

.layout--feature__heading {
  font-weight: 100;
  font-size: 4rem;
  margin: 0;
}

.layout--feature__sub-heading {
  color: lighten($base-font-color, 40%);
  font-family: $sans-serif-font;
  font-weight: 100;
  margin: 0 0 2rem;
}
