.search {
  position: relative;

  input {
    border: none;
    display: inline;
    padding: 1rem;
  }

  input[type="text"] {
    background-color: rgba(black, 0.15);
    transition: background-color 250ms;
    width: 100%;

    &:focus {
      background-color: rgba(black, 0.1);
    }
  }

  input[type="submit"] {
    @include position(absolute, 0.15rem 1.5rem null null);
    background-color: transparent;
    background-image: image-url("magnifying-glass.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}
