.search-wrapper {
  background-color: rgba(white, 0.2);
  border-radius: $base-border-radius;
  min-width: 400px;
  padding: 1rem;
  position: relative;

  @include media($small-screen) {
    min-width: 640px;
  }

  input {
    background-color: transparent;
    border: none;
    display: inline;
    font-size: $base-font-size;
    font-weight: 100;
    padding: 1.5rem;
    color: white;

    @include placeholder {
      color: transparentize($white, 0.55);
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  input[type="text"] {
    width: 100%;
  }

  input[type="submit"] {
    @include position(absolute, 0.9rem 0.5rem null null);
    background-image: image-url("magnifying-glass-white.svg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}
