<header class="navigation">
  <nav>
    <img src="" class="navigation__logo">
    <% if true %>
      <%= render "search" %>
    <% else %>
      <%= raw breadcrumb %>
      Search
    <% end %>
  </nav>
</header>
