<% unless params[:controller] == "search" %>
  <header class="navigation">
    <nav>
      <span class="navigation__search">
        <%= link_to root_path do %>
          <%= image_tag "logo.svg" %>
        <% end %>
      </span>
      <%= raw breadcrumb %>
    </nav>
  </header>
<% end %>
