<% unless current_page?(root_url) || current_page?(search_path) %>
  <header class="navigation">
    <nav>
      <img src="" class="navigation__logo">
      <span class="navigation__breadcrumb">
        <%= raw breadcrumb %>
      </span>
      <span class="navigation__search">
        <%= link_to "Search", root_path %>
      </span>
    </nav>
  </header>
<% end %>
