<div class="search content">
  <%= form_tag({controller: "book", action: "index"}, method: "post") do %>
    <%= text_field_tag :url, nil, required: true, placeholder: "Search GitHub Repositories" %>
    <%= submit_tag "", id: :search_submit %>
  <% end %>
</div>
