// Colors
$blue: #51a1ef;

// Colors in action
$primary-color: #9056B8;
$secondary-color: #62A2ED;
$dark-gray: #333;

// Fonts
$sans-serif-font: "Open Sans", sans-serif;
$serif-font: "Patua One", cursive;
$serif-font-alt: "Merriwearther", serif;
$base-font-size: 1rem;
$base-font-color: $dark-gray;
$base-font-family: $serif-font-alt;
$heading-font-family: $serif-font;

// Buttons
$primary-button-color: $secondary-color;
$primary-button-font: $sans-serif-font;

// Screen Sizes
$small-screen: 640px;
