// Colors
$black: #222;
$blue: #518bf6;
$dark-gray: #333;
$light-gray: #EBEBEB;
$purple-red: #fe139b;
$purple: #9013FE;
$white: #fff;

// Layout
$base-border-radius: 3px;

// Colors as Theme
$primary-color: #57d77b;
$secondary-color: $purple-red;

// Colors in action
$base-background-color: lighten($light-gray, 9%);
$base-font-color: $dark-gray;
$code-background-color: darken($base-background-color, 4%);
$primary-background-color: $primary-color;
$link-color: $blue;

// Fonts
$sans-serif-font: "Lato", sans-serif;
$serif-font: "Merriweather", cursive;
$serif-font-alt: "Merriweather", serif;
$base-font-size: 1.125rem;
$large-font-size: $base-font-size * 1.25;
$base-font-color: $dark-gray;
$base-font-family: $serif-font-alt;
$heading-font-family: $sans-serif-font;

// Buttons
$primary-button-border: solid 3px $primary-color;
$primary-button-color: $primary-color;
$primary-button-background-color: transparent;
$primary-button-font: $sans-serif-font;

$secondary-button-border: solid 3px $light-gray;
$secondary-button-color: darken($light-gray, 20%);
$secondary-button-background-color: transparent;
$secondary-button-font: $sans-serif-font;

// Screen Sizes
$small-screen: 640px;
$large-screen: 840px;
$x-large-screen: 1240px;
